body{
  /* margin: 20px 250px; */
  background-color: #f5f5f5;
  font-size: 22px;
  color: #424242 ;
}
.online-class{
  display: flex;
}
a{
  text-decoration: none;
  color: #f00;
}
.logo>img{
  height: 500px;
  width: 500px;
}
.allHidden{
  display: flex;
}
.hidden-D{
  display: none;

}
.intro-all{
  display: flex;
  line-height: 3;
  padding: 20px 200px;
}
.svg{
  padding: 0;
  margin: 0;
  width: 1567px;
  height: 349px;
}
.padd{
  line-height: 3;
  padding: 30px 200px;
}
.how-img{
  padding-right: 100px;
  padding-left: 171px;
  width: 280px;
  height: 400px;
}

.all{

}

.Introduction{
  line-height: 3;
  padding: 30px 200px;

}
.wher{
  display: flex;
}
.titr{
  color: #b00;
  cursor: pointer;
}

.site , .youtube{
 display: none;
}